<%- include('Partials/Header.ejs'); -%>

    <%- include('Partials/Menu.ejs'); -%>

        <div class="Layout-Container">

            <%- include('Partials/DetailsCompany.ejs'); -%>
            <% let System = "MODERN" %>
            <% if (Title.includes("حماية")) { System = "Hemaya"} %>
                <div class="Wrapper-Tilte">
                    <h1 class="Title-Container"><%= System %>'s Customers</h1>
                    <div class="line">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="Buttons-Container">
                    <div class="right">
                        <div class="Row grid-4">
                            <div class="card-item Green">
                                <i class='item-icon bx bx-user'></i>
                                <div class="center">
                                    <h3 class="TableLength">0.00</h3>
                                    <p>عدد العملاء</p>
                                </div>
                            </div>
                            <div class="card-item Primary">
                                <i class='item-icon bx bx-dollar'></i>
                                <div class="center">
                                    <h3 class="BalanceMonth">0.00</h3>
                                    <p>الاشتراكات الشهرية</p>
                                </div>
                            </div>
                            <div class="card-item Orange">
                                <i class='item-icon bx bx-dollar'></i>
                                <div class="center">
                                    <h3 class="BalanceYear">0.00</h3>
                                    <p>الاشتراكات السنوية</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="left">
                        <%- include('Partials/Buttons.ejs'); -%>
                    </div>
                </div>

                <div class="Search-Container">
                    <div class="input-box">
                        <input type="search" id="SearchByName" class="SearchInput" onkeyup="Search()" required>
                        <label>البحث بالاسم</label>
                        <div class="tooltip arrow arr-bottom-left">حدد طريقة البحث</div>
                        <div class="Filter-box">
                            <div class="tooltip arrow arr-bottom-left">حدد طريقة البحث</div>
                            <i class='bx bxs-filter-alt Filter-icon' onclick="ShowFilter()"></i>
                            <div class="filter-item arrow arr-top-left">
                                <h5 id="SearchByName" class="active">البحث بالاسم</h5>
                                <h5 id="SearchByEmail">البحث بالإميل</h5>
                                <h5 id="SearchByPhone">البحث بالهاتف</h5>
                                <h5 id="SearchByAddress">البحث بالعنوان</h5>
                                <h5 id="SearchByPlan">البحث بنوع الاشتراك</h5>
                                <h5 id="SearchByPaymentWay">البحث بطريقة الدفع</h5>
                            </div>
                        </div>
                        <span class='bx bx-search'></span>
                    </div>
                    <%- include('Partials/SearchDate.ejs'); -%>
                </div>

                <div class="Table-Container">
                    <table class="Table HideTh">
                        <thead>
                            <tr>
                                <th>م</th>
                                <th>
                                    <div class="FlexTH">
                                        <Span>الاسم</Span>
                                        <i id="Name" class='bx bx-filter-alt Filter-icon'
                                            onclick="SortMyData(event)"></i>
                                    </div>
                                </th>
                                <th>الإميل</th>
                                <th>الهاتف</th>
                                <th>العنوان</th>
                                <th>الاشتراك</th>
                                <th>طريقة الدفع</th>
                                <th>القيمة</th>
                                <th>
                                    <div class="FlexTH">
                                        <Span>اخر تفعيل</Span>
                                        <i id="UpdatedAt" class='bx bx-filter-alt Filter-icon'
                                            onclick="SortMyData(event)"></i>
                                    </div>
                                </th>
                                <th>الاجراء</th>
                            </tr>
                        </thead>
                        <tbody class="Table-body"></tbody>
                    </table>
                </div>
        </div>

        <div class="Form-Container Form-Collect">
            <div class="overlow"></div>
            <form class="Form">
                <div class="Form-scroll">
                    <i onclick="Hide_Container()" class="bx bx-x X-Toast"></i>
                    <div class="Form-header">
                        <div class="Wrapper-Tilte">
                            <h3 class="Title-Form-Collect">Collect From Customer</h3>
                            <div class="line">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <i class="Form-logo">
                            <img src="Img/Logo.png" alt="" srcset="">
                            <h1 class="logo-text">MODERN</h1>
                        </i>
                    </div>

                    <div class="Person-Details">
                        <div class="right">
                            <div class="item">
                                <h4>الاسم</h4>
                                <p class="Name"></p>
                            </div>
                            <div class="item">
                                <h4>الإميل</h4>
                                <p class="Email"></p>
                            </div>
                            <div class="item">
                                <h4>الهاتف</h4>
                                <p class="Phone"></p>
                            </div>
                            <div class="item">
                                <h4>العنوان</h4>
                                <p class="Address"></p>
                            </div>
                        </div>
                        <div class="left">
                            <div class="item">
                                <h4>الاشتراك</h4>
                                <p class="Type-Subscribe"></p>
                            </div>
                            <div class="item">
                                <h4>طريقة الدفع</h4>
                                <p class="Type-PaymentWay"></p>
                            </div>
                            <div class="item">
                                <h4>القيمة</h4>
                                <p class="Amount-Subscribe"></p>
                            </div>
                            <div class="item">
                                <h4>اخر تفعيل</h4>
                                <p class="Last-Subscribe"></p>
                            </div>
                        </div>
                    </div>

                    <div class="Form-body">
                        <div class="Row grid-2">
                            <div class="input-box">
                                <input type="text" class="DocDate" onfocus="(this.type='date')"
                                    onblur="(this.type='text')" required>
                                <label>التاريخ</label>
                                <span class="bx bx-calendar"></span>
                            </div>
                            <div class="input-box">
                                <input type="number" class="Total" min="1" required>
                                <label>القيمة</label>
                                <span class='bx bx-dollar'></span>
                            </div>
                        </div>
                        <div class="Row grid-2">
                            <div class="input-box">
                                <select class="Plan" required>
                                    <option value="Empty" disabled selected>نوع الاشتراك</option>
                                    <option value="Month">Month</option>
                                    <option value="Year">Year</option>
                                    <option value="Lifetime">Lifetime</option>
                                </select>
                                <label>نوع الاشتراك</label>
                                <span class='bx bxs-food-menu'></span>
                            </div>
                            <div class="input-box">
                                <select class="PaymentWay" required>
                                    <option value="Empty" disabled selected>حدد طريقة الدفع</option>
                                    <option value="Vodafone">Vodafone</option>
                                    <option value="Etisalat">Etisalat</option>
                                    <option value="InstaPay">InstaPay</option>
                                </select>
                                <label>طريقة الدفع</label>
                                <span class='bx bxs-credit-card'></span>
                            </div>
                        </div>
                    </div>
                    <div class="Form-footer">
                        <button type="button" id="" onclick="NewCollectOrPayment(id)"
                            class="btn btn-Save btn-Collect">حفظ البيانات</button>
                        <button type="button" onclick="Hide_Container()" class="btn btn-Cancel">الغاء</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="Form-Container Form-Message">
            <div class="overlow"></div>
            <form class="Form">
                <div class="Form-scroll">
                    <i onclick="Hide_Container()" class="bx bx-x X-Toast"></i>
                    <div class="Form-header">
                        <div class="Wrapper-Tilte">
                            <h3 class="Title-Form-Message">Sent a Message</h3>
                            <div class="line">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <i class="Form-logo">
                            <img src="Img/Logo.png" alt="" srcset="">
                            <h1 class="logo-text">MODERN</h1>
                        </i>
                    </div>

                    <div class="Person-Details">
                        <div class="right">
                            <div class="item">
                                <h4>من</h4>
                                <p class="FromEmail">MODERN</p>
                            </div>
                        </div>
                        <div class="left">
                            <div class="item">
                                <h4>الي</h4>
                                <p class="ToEmail"></p>
                            </div>
                        </div>
                    </div>
                    <div class="Form-body">
                        <div class="input-box">
                            <textarea class="Message" placeholder="اكتب رسالة"></textarea>
                        </div>
                    </div>

                    <div class="Form-footer">
                        <button type="button" id="" onclick="NewMessage(id)"
                            class="btn btn-Save btn-Collect">أرسال</button>
                        <button type="button" onclick="Hide_Container()" class="btn btn-Cancel">الغاء</button>
                    </div>
                </div>
            </form>
        </div>

        <%- include('Partials/Footer.ejs'); -%>

        <script src="Js/4-Customers.js"></script>

        </body>

        </html>